@import '../abstract/variables';
sup {
  font-size: 11px;
  line-height: 13px;
  color: $gray-100;
  padding-left: 0.25rem;
}

.title {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0.25rem;
  color: $gray-100;
}

.content {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0.25rem;
}
