$body-bg: #000;
$white: #e8eaf4;
$body-color: $white;
$blue: #0a84ff;
$link-color: $white;
$gray-100: #a09fc3;
$gray-800: #20242d;
$btn-padding-y: 0.5rem;
$btn-padding-x: 0.75rem;
$border-radius: 0.5rem;
